
<div  fxLayout="row wrap">
	<mat-toolbar color="primary">
			

		<img class="logo" src="./../assets/images/logo.png" />
		
		<span class="content" fxHide.lt-md>Angular API Example</span>
		<button mat-button (click)="openGitHub()" fxHide.lt-md>
			<img class="github-icon" src="./../assets/images/github-logo.png" />
		</button>
		
		<span style="min-width:11em;" class="content" fxHide.lt-lg>Now Showing: <i>{{this.imageSource}}</i></span>	
		
		<button style="margin-left:1em;" class="redButton" mat-button (click)="toggleImageSource()">
			<span *ngIf="imageSource === 'Swisher'">Show Heroes</span>
			<span *ngIf="imageSource === 'Heroes'">Show Swisher</span>
		</button>
			
		<button style="margin-left:5em;" class="defaultButton" mat-button (click)="toggleGridColumns()" fxHide.lt-lg>
			<span *ngIf="gridColumns === 4">Show 3 Columns</span>
			<span *ngIf="gridColumns === 3">Show 4 Columns</span>
		</button>
		
		<button style="margin-left:5em;" class="yellowButton" mat-button (click)="showAPILog()" fxHide.lt-lg>
			<span>View API Access Log</span>
		</button>
		
	</mat-toolbar>
</div>


<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
	<div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let post of posts; let i=index">
		<div cdkDrag [cdkDragStartDelay]="100">
		<mat-card class="mat-elevation-z4">
			<mat-card-header>
				<mat-card-title>{{ post }}</mat-card-title>
			</mat-card-header>
			<img mat-card-image src="{{this.apiURL}}img/{{ post }}" />
			<!--
			<mat-card-content>
				<p> {{ post }}</p>
			</mat-card-content>
			-->
			<mat-card-actions>
				<button mat-button (click)="showImage(post)">VIEW FULL SCREEN</button> 
			</mat-card-actions>
		</mat-card>
		</div>
	</div>
</div>
